* {
    box-sizing: border-box;
    user-select: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

:root {
    --details-width: 400px;
}

.treeDir {
    font-size: 16px;
    margin-left: 32px;
    position: relative;
    width: fit-content;
}
.treeDir > span, .treeFile > span {
    cursor: pointer;
    user-select: none;
}
.treeDir > span:hover:not(:active), .treeFile > span:hover:not(:active) {
    color: #777;
}
.treeDir:last-child {
    margin-bottom: 8px;
}
.treeFile {
    margin-left: 16px;
    width: fit-content;
}
.treeFile:last-child {
    margin-bottom: 8px;
}

.treeDir.visible::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 24px;
    height: calc(100% - 26px);
    display: block;
    background: #ddd;
    width: 2px;
}

.treeDir > .treeDir, .treeDir > .treeFile {
    display: none;
}
.treeDir.visible > .treeDir, .treeDir.visible > .treeFile {
    display: block;
}
.treeDir > span::before {
    content: '▶';
    vertical-align: middle;
    margin-right: 8px;
    font-size: 12px;
    display: inline-block;
    width: 12px;
    text-align: center;
}
.treeDir.visible > span::before {
    content: '▼';
}

#context {
    background-color: white;
    border: 1px solid #aaa;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;

    min-width: 128px;
    max-width: 360px;
    width: fit-content;
    user-select: none
}
#context span {
    display: block;
    font-size: 14px;
    padding: 8px 16px;
}
#context > .ctxType {
    font-weight: bold;
    border-bottom: 1px solid #aaa;
}
#context > .ctxActions {
    padding: 4px 0px;
}
#context > .ctxActions > .ctxAction {
    cursor: pointer;
    padding: 6px 16px;
}
#context > .ctxActions > .ctxAction:not(.disabled):hover {
    background-color: #ccc;
}

#context.visible {
    display: block;
}

#tree {
    width: calc(100% - var(--details-width));
    height: calc(100% - 48px);
    line-height: 1.25;
    padding: 12px 8px 60px 8px;
    background-color: white;
    position: fixed;
    top: 48px;
    left: 0;
    z-index: 100;
    overflow-y: auto;
}

#details:not(.visible) ~ #tree {
    width: 100%;
}

#details {
    width: var(--details-width);
    height: calc(100% - 48px);
    border-left: 1px solid #aaa;
    line-height: 1;
    padding: 16px;
    background-color: #fff;
    position: fixed;
    top: 48px;
    right: 0;
    z-index: 100;
    overflow-y: auto;

    overflow-wrap: break-word;

    display: none;
}
#details.visible {
    display: block;
}
#details > .hidden {
    display: none;
}
#details > .title {
    margin: 8px 0px;
}
#details > p > span {
    font-weight: normal;
    display: block;
    margin-top: 2px;
    font-size: 14px;
}
#details > p {
    font-weight: bold;
}

#details .filePart > p > span {
    font-weight: normal;
}
#details .filePart > p {
    font-weight: bold;
    margin: 4px 0px;
}
#details .filePart {
    padding-left: 8px;
    font-size: 13px;
    border-left: 2px solid #ddd;
    margin-top: 8px;
}

#topBar {
    width: 100%;
    height: 48px;
    line-height: 32px;
    padding: 8px 24px;
    border-bottom: 1px solid #aaa;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
#openVPKButton, #openSettingsButton, #patchVPKButton {
    vertical-align: middle;
    float: right;
    padding: 8px;
    margin-top: 16px;
    margin-right: 8px;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background: #e5e5e5;
    border-radius: 3px;
}
#openVPKButton:hover:not(:active), #openSettingsButton:hover:not(:active), #patchVPKButton:hover:not(:active) {
    background: #ccc;
}
#openVPKButton {
    margin-right: -16px;
}

#detailsCloseButton {
    position: fixed;
    vertical-align: middle;
    right: 16px;
    padding: 8px;
    height: 32px;
    width: 32px;
    margin: 0;
    border: none;
    cursor: pointer;
    background: #e5e5e5;
    border-radius: 16px;
}
#detailsCloseButton > img {
    width: 100%;
    height: auto;
}
#detailsCloseButton:hover:not(:active) {
    background: #ccc;
}
#detailsUnpackButton, #detailsPreviewButton {
    vertical-align: middle;
    float: right;
    margin-left: 16px;
    padding: 8px;
    border: none;
    cursor: pointer;
    background: #e5e5e5;
    border-radius: 3px;
    font-size: 14px;
}
#detailsUnpackButton:hover:not(:active), #detailsPreviewButton:hover:not(:active) {
    background: #ccc;
}
#detailsPreviewButton.hidden {
    display: none;
}

#unpackOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 10000;
    display: none;
}
#unpackOverlay.visible {
    display: block;
}
#unpackPrompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    padding: 32px;
}
#unpackPrompt > span {
    font-size: 12px;
}
#unpackPrompt > .title {
    font-size: 20px;
    font-weight: bold;
}
.progressBar {
    width: 420px;
    height: 20px;
    margin: 8px 0px;
    overflow: hidden;
    border-radius: 3px;
    background-color: #efefef;
}
.progressBar > .progressDone {
    background-color: #7CE577;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: width 0.05s;
}
@keyframes indeterminate-progress {
    0% {
        width: 0%;
        margin-left: 0%;
    }
    20% {
        width: 25%;
        margin-left: 0%;
    }
    80% {
        width: 25%;
        margin-left: 75%;
    }
    100% {
        width: 0%;
        margin-left: 100%;
    }
}
.progressBar.indeterminate > .progressDone {
    animation: indeterminate-progress linear 2s infinite;
}
#unpackPrompt > .currentPath {
    display: inline-block;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aaa;
}
#unpackPrompt > .progress {
    float: right
}
#unpackPrompt > .unpackPromptButton {
    float: right;
    padding: 8px 24px;
    margin: 16px 0px 0px 0px;
    border: none;
    cursor: pointer;
    background: #e5e5e5;
    border-radius: 3px;
    display: none;
}
#unpackPrompt > .unpackPromptButton:hover:not(:active) {
    background: #ccc;
}
#unpackOverlay.done > #unpackPrompt {
    padding-bottom: 24px;
}
#unpackOverlay:not(.done) > #unpackPrompt > .unpackCancelButton {
    display: block;
}
#unpackOverlay.done > #unpackPrompt > .unpackOKButton {
    display: block;
}

#settingsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 10000;
    display: none;
}
#settingsOverlay.visible {
    display: block;
}
#settingsPrompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    padding: 32px;
    min-width: 320px;
}
#settingsPrompt > span {
    font-size: 12px;
}
#settingsPrompt > .title {
    font-size: 20px;
    font-weight: bold;
}
#settingsPrompt > .setting {
    margin: 8px 0px 16px 0;
    line-height: 32px;
}
#settingsPrompt > .setting > * {
    vertical-align: middle;
}
#settingsPrompt > .setting > input {
    float: right;
    margin-top: 16px;
    transform: translateY(-50%);
    margin-left: 32px;
}
input[type=number] {
    width: 64px;
    border: none;
    background-color: #e5e5e5;
    padding: 8px;
    outline: none;
    border-radius: 3px;
}

#settingsPrompt > .settingsPromptButton {
    float: right;
    padding: 8px 24px;
    margin: 16px 0px 0px 0px;
    border: none;
    cursor: pointer;
    background: #e5e5e5;
    border-radius: 3px;
}
#settingsPrompt > .settingsPromptButton:hover:not(:active) {
    background: #ccc;
}

#patchVPKButton {
    position: fixed;
    bottom: 16px;
    left: 16px;
    transform: none;
    margin: 0;
    z-index: 100;
}
#patchVPKButton.hidden {
    display: none;
}

#patchVPKOverlay, #previewOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 10000;
    display: none;
}
#patchVPKOverlay.visible, #previewOverlay.visible {
    display: block;
}

#previewOverlay.visible {
    display: block;
}

#patchVPKPrompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    padding: 32px;
    width: 615px;
}

#previewPrompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    padding: 32px;
    min-width: 540px;
    max-width: 80%;
}
#patchVPKPrompt > span {
    font-size: 12px;
}
#patchVPKPrompt > .title {
    font-size: 20px;
    font-weight: bold;
}

#patchVPKPrompt > button {
    float: right;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    background: #e5e5e5;
    border-radius: 3px;
    margin-left: 16px;
}
#patchVPKPrompt > button:hover:not(:active) {
    background: #ccc;
}
.patchVPKSelectFile {
    float: none !important;
}


input[type=text] {
    width: 320px;
    border: none;
    background-color: #e5e5e5;
    padding: 8px;
    outline: none;
    border-radius: 3px;
}

#patchVPKPrompt > input {
    width: 420px;
}

#vpkPatchList > .vpkPatch {
    font-size: 24px;
    padding: 0px 8px 2px 8px;
    border-radius: 3px;
    background-color: #f0f0f0;
}
#vpkPatchList > .vpkPatch:not(:last-child) {
    margin-bottom: 8px;
}

#vpkPatchList {
    margin-top: 8px;
        max-height: 280px;
        overflow-y: auto;
        padding: 8px;
}
#vpkPatchList > .vpkPatch > span {
    font-size: 11px;
    vertical-align: middle;
    display: inline-block;
    width: calc(50% - 42px);
    margin-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#vpkPatchList > .vpkPatch > .arrow {
    height: 20px;
    vertical-align: middle;
    margin-right: 16px;
}
#vpkPatchList > .vpkPatch > .remove {
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
}
#vpkPatchList > .vpkPatch > .remove:hover {
    opacity: 0.7;
}
#vpkPatchList > .vpkPatch > .remove:active {
    opacity: 0.6;
}

#patchVPKProgressOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 10000;
    display: none;
}
#patchVPKProgressOverlay.visible {
    display: block;
}
#patchVPKProgressPrompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    padding: 32px;
}
#patchVPKProgressPrompt > span {
    font-size: 12px;
}
#patchVPKProgressPrompt > .title {
    font-size: 20px;
    font-weight: bold;
}
#patchVPKProgressPrompt > button {
    float: right;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    background: #e5e5e5;
    border-radius: 3px;
    margin-left: 16px;
}
#patchVPKProgressPrompt > button:hover:not(:active) {
    background: #ccc;
}
#patchVPKProgressPrompt > button.hidden {
    display: none;
}
#previewPrompt > span {
    font-size: 12px;
}
#previewPrompt > .title {
    font-size: 20px;
    font-weight: bold;
}
#previewPrompt > .filePath {
    font-size: 11px;
}

#previewPrompt > #textPreview {
    font-size: 12px;
    padding: 16px;
    border-radius: 3px;
    background-color: #e5e5e5;
    min-height: 320px;
    max-height: calc(80vh - 176px);
    overflow: auto;

    display: none;
}
#previewPrompt.text > #textPreview {
    display: block;
}
#previewPrompt > #loadingPreview, #previewPrompt > #unsupportedPreview {
    display: none;
    margin: 16px 0px;
    font-size: 14px;
    font-weight: bold;
}
#previewPrompt.loading > #loadingPreview {
    display: block;
}
#previewPrompt.unsupported > #unsupportedPreview {
    display: block;
}

#previewPrompt > #miscPreview {
    margin: 16px 0px;
}

#previewPrompt.loading > #miscPreview, #previewPrompt.unsupported > #miscPreview, #previewPrompt.text > #miscPreview {
    display: none;
}

#previewPrompt > .previewPromptButton {
    float: right;
    padding: 8px 24px;
    margin: 16px 0px 0px 0px;
    border: none;
    cursor: pointer;
    background: #e5e5e5;
    border-radius: 3px;
    margin-left: 16px;
}
#previewPrompt > .previewPromptButton:hover:not(:active) {
    background: #ccc;
}